body {
  margin: 0;
  font-size: 15pt;
}


/* flexbox */

section div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

p{
  text-align: center;
  color:rgba(38, 213, 222, 0.7);
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  animation-name: noceDeCotonUp;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count:infinite;
  
}

@keyframes noceDeCotonUp {
  0%{
    transform: translateY(0) 
  
  }
  15%{
    transform: translateX(-100px) rotate(35deg);;
  }
  
  25%{
    transform:translate(-200,-200px) rotate(35deg) scale(1,8)  ;
  }
  50%{
      transform: translateY(-260px) rotate(-35deg)
  }
  75%{
    
    transform:translate(100px) rotate(-35deg)
  }
  
    
  100%{
    font-size: 20px;
    transform:translateY(0) rotate(0);
  }
  
}



div.bague p span{
  color: rgba(255, 255, 255, 1);
}

h3 {

  text-align: center;
  margin: 0;
  padding: 5px;

  background: linear-gradient(45deg, rgba(211, 28, 154, 1), rgba(43, 52, 36, 1), rgba(211, 28, 28, 1), rgba(111, 28, 211, 1), rgba(28, 211, 113, 1), rgba(80, 211, 28, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: serif;

}

.bague img {

  width: 100%;
  min-height: 250px;
  
}

/* toutes mes sections ont une hauteur min*/

section {
  
  border-radius: 10px;
  width: 98%;
  min-height: 700px;
  margin: 3px;



}


/* toutes mes div en position relative*/

section div {
  width: 100%;
  min-height:inherit;


}


/* arrondi tous mes images */

section div img[src] {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  /*  height: initial;*/
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 10px;
  transition: all ease 2s;
  


}






section.section-friend {

  background: linear-gradient(-45deg, rgba(76, 225, 139, 0.95), rgba(209, 197, 20, 0), rgba(20, 209, 118, 1), rgba(209, 191, 20, 0), rgba(209, 191, 20, 1), rgba(209, 191, 20, 0), rgba(20, 63, 209, 0.85), rgba(20, 46, 209, 0), rgba(20, 46, 209, 0.99));



}


.hide-images {
  display: none;
  
}

.see-image-animation{
  display: block;
  opacity: 1;
  animation-name: seeMaraine;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.hide-image-animation{
  display: none;
  opacity: 1;
  animation-name: hideMaraine;
  animation-duration: 2s;
  animation-timing-function: ease;
}




section.section-maraine {
  background: linear-gradient(180deg, rgba(43, 219, 159, 1), rgba(184, 219, 43, 1), rgba(219, 43, 121, 1), rgba(173, 43, 219, 1), rgba(43, 123, 219, 1), rgba(43, 219, 134, 1), rgba(142, 130, 82, 1));
 
  

}



@keyframes seeMaraine{
  
  0%{
    opacity: 0;
    display: none;
    
  }
  100%{
   opacity: 1;
   display: block;
  }
  
  
}



@keyframes hideMaraine{

  0% {
    opacity: 1;
    display: block;

  }

  100% {
    opacity: 0;
    display: none;
  }


}

/* the background linear-gradient*/

section.section-beyou-eliyou {
  background: linear-gradient(40deg, blue, red, yellow);



}


section.section-parain {
  background: linear-gradient(45deg, rgba(32, 27, 27, 0.98), rgba(159, 133, 133, 0), rgba(23, 13, 13, 1), rgba(171, 92, 92, 0), rgba(209, 20, 136, 0.93), rgba(209, 20, 136, 0.02), rgba(20, 209, 162, 0.95));



}

section.section-eliyou {
  background: linear-gradient(45deg, rgba(43, 239, 255, 0.91), rgba(255, 255, 0, 1), rgba(43, 219, 151, 0), rgba(255, 255, 0, 1), rgba(219, 122, 43, 0), rgba(255, 255, 0, 1), rgba(161, 219, 43, 0), rgba(255, 219, 43, 0));

}


section.section-friend div.friend {
  position: relative;


}

section div button.bouton {
  height: 30px;
  position: relative;

  left: 5px;
  bottom: 15px;
}


/* family animation*/


section.section-family {
  background: linear-gradient(-45deg, rgba(18, 179, 226, 0.5), rgba(226, 18, 108, 0.5), rgba(110, 226, 18, 0.5), rgba(226, 120, 18, 0.5));
  width: 98vw;
  min-height: 300px;



}



.image-family-2 {
  transform: translateY(-270px);
  transition: all ease 2s;

}



.image-family-3 {
  transform: translateY(-550px);
  transition: all ease 2s;

}



/* ====== my Beyou ===== */


section.section-beyou {
  background: linear-gradient(-60deg, rgba(43, 58, 219, 1), rgba(43, 219, 151, 1), rgba(219, 43, 201, 1), rgba(219, 122, 43, 1), rgba(161, 219, 43, 1));

}

section.section-beyou div{
  position: relative;
}

section.section-beyou div img.beyou-absolute{
  position: absolute;
  left:0;
}



section div button.bouton {
  width: 150px;
  height: 40px;
  border-radius: 10px;
 /* margin: 10px auto;*/
  font-weight: bold;
  font-size: 20px;
 /* position: relative;
  left: 140px;
  bottom: 0;
  */
}

button:not(.bouton-family){
  color: lightseagreen;
  margin-top: 50px;
}




section div button.bouton-beyou{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  /*margin: 10px auto;*/
  font-weight: bold;
  font-size: 20px;
  margin-top: auto;
  /*
  position: absolute;
  left: 140px;
  bottom: 0;
  z-index: 5;
  */
}

/* ############## ma maraine ########## */


